---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>Regarding NEOM</h1>
        <h2>Saudi Arabia's Expensive Nightmare</h2>

        <p>NEOM, although sounding good in theory and looking like something out of Mirror's Edge, is an enourmous, cumbersome project that will only result in its future termination.</p>
</html>
